body {
    margin: 0px;
    display: flex;
}
button {
    margin: 0px;
}

input {
    margin: 3px;
}

.display {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    display: inline-block;
    height: 100%;
    width: calc(100% - 300px);
}

.settings {
    float:  right;
    margin: 0px;
    padding: 20px;
    background-color: #f3f3f3;
    height: 100%;
    width: 300px;
}